/*to use a font we can do two things:
1- use the link and put them in the head of the html
2- use @import in the css file

but in the two cases I need to use the font-family property to apply the font to a specific element or to the whole body
*/
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --main-1: #efe9e3;
  --main-2: #e8c999;
  --main-3: #c4a484;
  --main-4: #e8cbb3;
  --black: 0 0% 14%;
  --white: 0 0 100%;
  --padding-top: 2.5rem;
  --padding-bottom: 2.5rem;
}
/* End custom properties */

/* Start reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(var(--black));
}
/* End reset */

/* Setting up the body */
body {
  font-family: "Poiret One", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
}

/* making images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* making form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* removing animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general */
.container {
  /* inline is the same as left and right in CSS */
  padding-inline: 2em;
  /* block is the same as top and bottom in CSS */
  /* padding-block: 1em; */
  margin-inline: auto;
  max-width: 80rem;
}

/* Start Header*/
header {
  background-color: var(--main-1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  color: var(--black);
}

nav .logo {
  font-weight: 300;
  font-style: normal;
}

nav .nav-list {
  display: flex;
  gap: 1rem;
}

nav .nav-list li a {
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px 10px;
}

nav .nav-list a:hover {
  background: #e8c999;
}
/* End Header*/

/* Start home*/
.home {
  height: 100vh;
  background-image: url("image/img13.jpeg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.home .text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.home .text .button-shop {
  padding: 10px 40px;
  background: var(--main-1);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.home .button-shop:hover {
  background: var(--main-2);
}

.home .main-social {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.home .main-social .social-icons a {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
  color: inherit;
}

.home .main-social .social-text {
  display: inline-block;
  color: inherit;
}
/* End  home*/

/* Start  services*/
.services {
  background: var(--main-1);
  padding-block: var(--padding-top);
}

.services .service-title {
  text-align: center;
}

.services .service-title h3 {
  color: var(--main-3);
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 1rem;
}

.services .service-title h2 {
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-size: 2rem;
}

.card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 300px;
  /* this is used to make the height and the width equal */
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .img-box img {
  display: block;
  /* this is used to make the height and the width equal */
  aspect-ratio: 1;
  border-radius: 50% 50% 0 0;
  object-fit: cover;
}

.card .content-box {
  background-color: var(--main-3);
  padding: 1rem;
}
/* End  services*/

/* Start remember section*/
.remember {
  background-color: var(--white);
  text-align: center;
  position: relative;
  padding-block: var(--padding-bottom);
}

.remember .section-title {
  width: 50%;
}

.remember .section-title h6 {
  color: var(--main-3);
  padding-top: 30px;
  text-align: center;
}

.remember .section-title h3 {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.remember .section-title p {
  font-size: 14px;
  color: #333;
}

.remember .section-title button {
  background-color: var(--main-1);
  margin-top: 20px;
  width: 10%;
  outline: none;
  border: none;
  border-radius: 10px;
}

.remember .section-title button:hover {
  background-color: var(--main-2);
  cursor: pointer;
}

.remember img {
  object-fit: cover;
  border-radius: 0 0 50% 50%;
  width: 450px;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 0;
  border: 1px solid hsl(var(--black));
}

@media (max-width: 970px) {
  .remember .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .remember .section-title {
    width: 100%;
  }

  .remember img {
    position: relative;
    border-radius: 50%;
    margin-top: 1rem;
  }
}

/* Start popular section */
.Popular-section {
  background-color: var(--main-3);
  text-align: center;
}

.Popular-section h6 {
  color: var(--main-1);
  padding-top: 30px;
  text-align: center;
  margin-top: 20px;
}

.Popular-section h3 {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 20px;
  text-align: center;
}

.Popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-top: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* End Popular section*/

/*Start Talk-Section*/
.talk-section {
  background-color: var(--main-1);
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.talk-box {
  background-color: var(--main-4);
  width: 400px;
  aspect-ratio: 1;
  border-radius: 50% 50% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 40px;
}

.talk-box button {
  background-color: var(--main-1);
  width: 30%;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.talk-box button:hover {
  background-color: #e8cbb3;
}

/*End Talk-Section*/

/* Start Footer*/
.footer {
  border-top: 2px solid var(--main-3);
  background-color: var(--main-1);
  margin-top: -80px;
  /* the position is given to make the footer stay at the top of the previous section */
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.subscribe {
  margin: 20px;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-bottom {
  background-color: var(--main-4);
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  padding: 5px;
  gap: 20px;
}
/* End Footer*/
