/* Start custom properties */

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-1: #EFE9E3;
  --main-2:#E8C999 ;
  --main-3:#C4A484;
  --main-4:#e8cbb3;
  --black: 0 0% 14%;
  --white: 0 0 100%;
  --padding-top:2.5rem;
  --padding-bottom:2.5rem;
}

::selection {

}

::-webkit-scrollbar {
  /* width: 15px; */
}

::-webkit-scrollbar-track {
  /* background: hsl(var(--clr-white) / 0.3);
  backdrop-filter: blur(15px); */
}

::-webkit-scrollbar-thumb {
  /* background: hsl(var(--clr-drk-blue) / 0.5);
  border-radius: 15px; */
}
/* End custom properties */

/* Start reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
   color: var(--black); 
  transition: 0.3s;
  border-radius: 5px;
  }
  a:hover {
  
    background-color: #E8C999;

    
   
}

/* End reset */

/* Setting up the body */
body {
  /* font-family: "Poppins", sans-serif; */
  line-height: 1.5;
  min-height: 100vh;
 
}


/* making images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* making form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* removing animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Start utility classes */

/* End utility classes */

/* general */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Start compontents */
/* Start Header*/
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 10px;
   background-color: var(--main-1);
    color: var(--black);
 
}
.logo{
  font-family: "Ephesis", cursive;
  font-weight: 300;
  font-style: normal;

}
.nav-list{
  display: flex;
  gap: 3rem;

}
/* End Header*/

/* Start main*/
.main-page{

  position: relative;
  text-align: center;
  color: white;
}

.main-page img {
    width: 100%;
  height: 90vh; 
  object-fit: cover;

 
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center; 
}
.button-shop{
  margin-top:20px ;
  width: 40%;
  background-color: var(--main-1);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
 
}
.button-shop:hover{
  background-color:var(--main-2) ;
}
/* End Header*/
/* Start Section 1*/
.main-social {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: white;
}

.social-icons i {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
}


.social-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-text p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
/* End  Section 1*/

/* Start Section 2*/
.services {
    background: var(--main-1);
}
.service-title{
  text-align: center;
  padding-top: 50px;
}
.service-title h6{
color: var(--main-3);
margin-bottom: 8px;
}
.service-title h3{
font-family:'Times New Roman', Times, serif;
font-weight: 100;
font-size: 60px;
}
/* End Section 2*/

/* Start Section 3*/
.card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 250px;
  height: 100%;
  text-align: center;
  background-color: var(--main-3);
  border-radius: 50px 50px 0 0; 
  overflow: hidden;
  
}

.card img {
  width: 100%;
  height: 50%;
  display: block;
  border-radius: 50px 50px 0 0;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
/* Start Section 3*/

/* Start Popular-section*/
.section-3{
  background-color: var(--white);
display: flex;
  text-align: center;  
  
}
.section-title{
  align-items: center;
}
.section-title h6{
color: var(--main-3);
padding-top: 30px;
text-align: center;
}
.section-title h3{
font-family:'Times New Roman', Times, serif;
font-size: 30px;
text-align: center;
padding: 30px;

}
.section-title p{
   font-size: 14px;
  color: #333;
            
}
.section-title button{
  background-color: var(--main-1);
  margin-top:20px ;
  width: 10%;
  outline: none;
  border: none;
  border-radius: 10px;
}
.section-title button:hover{
background-color: var(--main-2);
 cursor: pointer;
}
.section-3 img{
  margin-top: 10px;
   border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
   
}
.Popular-section{
  background-color: var(--main-3);
  text-align: center;
}
 .Popular-section h6{
  color: var(--main-1);
  padding-top: 30px;
text-align: center;
margin-top: 20px;
}
.Popular-section h3{
font-family:'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;


}

.Popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  padding-top: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.info {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Start Popular-section*/


/*Start Talk-Section*/
.talk-section {
  background-color: var(--main-1);
 padding-top: 20px;
  display: flex;
  justify-content: center;
}

.talk-box {
  background-color: var(--main-4); 
  width: 450px;               
  height: 450px;             
  border-radius: 50% 50% 0 0;         
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  text-align: center;    
  gap: 20px;                
  padding: 40px;             
}
.talk-box h3{
  font-family: 'Courier New', Courier, monospace;
}
.talk-box p {
 font-family:'Times New Roman', Times, serif;
}
.talk-box button{
  background-color: var(--main-1);
  width: 30%;
  outline: none;
  border: none;
  cursor: pointer;
}
.talk-box button:hover{
  background-color: #e8cbb3;
}

hr{
 border: 2px solid var(--main-3);
}
/*End Talk-Section*/

/* Start Footer*/
.footer{
  background-color: var(--main-1);
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-left,.subscribe{
  margin: 20px;
}
.footer-right{
  display: flex;
  gap: 20px;
}
.footer-bottom{
  background-color: var(--main-4);
  display: flex;
  justify-content: space-between;
}
.social{
  display: flex;
  padding: 5px;
gap: 20px;
}
/* Start Footer*/

/* End compontents */
